

.mainContainer{
  width: 680px;
}

.mainContainer h4{
  text-align:center;
}
.messagesBox{
  max-height: 400px;
  overflow-y: auto;
}
h5{
  margin-bottom: 20px;
  text-align: center;
}

.messageInput[data-isVisible="false"], .loginBox[data-isVisible="true"]{
  display: none;
}

.loginBox[data-isVisible="false"], .messageInput[data-isVisible="true"]{
  display: block;
}

.sendBtn{
  float: right;
}

.card .card-content {
    padding: 15px;
}